/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */
// https://next.vuetifyjs.com/features/sass-variables/
@forward 'vuetify/settings' with (
  // Place SASS variable overrides here
  $body-font-family: (
      'Noto Sans',
      'Noto Sans JP',
      'Noto Sans KR',
      'Noto Sans TC',
      'Noto Sans SC',
      'Noto Color Emoji',
      sans-serif
    )
);

// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+ko:wght@100..900&family=Noto+Sans+Mono:wght@100..900&family=Noto+Sans+TC:wght@100..900&family=Noto+Sans+SC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

// Fix for monospace Font.
code,
kbd,
pre,
samp,
var {
  font-family: 'Noto Sans Mono', monospace !important;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}
